

.ChatBox .chatbox-collab-0 {
	color: DarkGreen;
	background-color: #B2D0B2;
}

.ChatBox .chatbox-collab-1 {
	color: Brown;
	background-color: #EDD4D4;
}

.ChatBox .chatbox-collab-2 {
	color: GoldenRod;
	background-color: LightGoldenRodYellow;
}

.ChatBox .chatbox-collab-3 {
	color: FireBrick;
	background-color: #F0D3D3;
}

.ChatBox .chatbox-collab-4 {
	color: Teal;
	background-color: #CCE6E6;
}

.ChatBox .chatbox-collab-5 {
	color: MediumVioletRed;
	background-color: #F4D0E7;
}