.ChatBox .chatbox-collab-0 {
	background-color: LightGreen;
}

.ChatBox .chatbox-collab-1 {
	background-color: LightSalmon;
}

.ChatBox .chatbox-collab-2 {
	background-color: LightGoldenRodYellow;
}

.ChatBox .chatbox-collab-3 {
	background-color: LightCoral;
}

.ChatBox .chatbox-collab-4 {
	background-color: LightSeaGreen;
}

.ChatBox .chatbox-collab-5 {
	background-color: LightPink;
}
