/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {
  /* Include all the styles from the reindeer theme */
  @include reindeer;
  
  $bg0: LightGreen;
  $bg1: LightSalmon;
  $bg2: LightGoldenRodYellow;
  $bg3: LightCoral;
  $bg4: LightSeaGreen;
  $bg5: LightPink;

  .collabeditor-layout-0 {
  	background-color: $bg0;
  }
  .collabeditor-layout-1 {
  	background-color: $bg1;
  }
  .collabeditor-layout-2 {
  	background-color: $bg2;
  }
  .collabeditor-layout-3 {
  	background-color: $bg3;
  }
  .collabeditor-layout-4 {
  	background-color: $bg4;
  }
  .collabeditor-layout-5 {
  	background-color: $bg5;
  }
  
  /*
  .collab-square-image {
  	opacity: 0.5;
  }
  */

  .collab-square-label {
  	color: black;
  	background-color: white;
  	font-size: 9px;
  }
  
  .collab-square {
  	border-style: solid;
  	border-width: 1px;
  }
  
  .collab-square-label.collab-user-0 {
  	background-color: $bg0;
  }  
  .collab-square-label.collab-user-1 {
  	background-color: $bg1;
  }  
  .collab-square-label.collab-user-2 {
  	background-color: $bg2;
  }  
  .collab-square-label.collab-user-3 {
  	background-color: $bg3;
  }  
  .collab-square-label.collab-user-4 {
  	background-color: $bg4;
  }  
  .collab-square-label.collab-user-5 {
  	background-color: $bg5;
  }
  
  
  .collab-square.collab-user-0 {
  	background-color: DarkGreen;
  }
  .collab-square.collab-user-1 {
  	background-color: Brown;
  }
  .collab-square.collab-user-2 {
  	background-color: GoldenRod;
  }
  .collab-square.collab-user-3 {
  	background-color: FireBrick;
  }
  .collab-square.collab-user-4 {
  	background-color: Teal;
  }
  .collab-square.collab-user-5 {
  	background-color: MediumVioletRed;
  }
  
  
  
  .collab-button {
  	border: 1px solid black;
  	
  }
  
  .collab-button.collab-user-me {
  	font-weight: bold;
  }
  
  .collab-button.collab-user-0 {
  	background-color: $bg0;
  }
  
  .collab-button.collab-user-1 {
  	background-color: $bg1;
  } 
  
  .collab-button.collab-user-2 {
  	background-color: $bg2;
  } 
  
  .collab-button.collab-user-3 {
  	background-color: $bg3;
  }
  
  .collab-button.collab-user-4 {
  	background-color: $bg4;
  }
  
  .collab-button.collab-user-5 {
  	background-color: $bg5;
  }
  
  
  
}

