/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mideaas {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  
    .round-panel {
  	
  	background: transparent url(img/top-left.png) no-repeat left top;
  	
  	.v-panel-caption {
  		font-size: 15px;
  		color: blue;
  		//border : 1px solid #babfc0;
  		//border-bottom : 1px solid #e5e5e5;
  		margin-left: 10px;
  		background: transparent url(img/top-right.png) no-repeat right top;
  		padding-left : 5px;
  		//background-color : white;
  		height : 30px;
  		line-height : 30px;
  	}
  	.v-panel-content {
  		border: 1px solid #babfc0;
  		//border-top : red;
  		//background-color : yellow;
  		//border-bottom : none;
  	}
  }
  
  .userbox-layout {
  	margin : 10px 10px 10px 10px;
  }
  
  .userlist-layout {
 	background-color : #babfc0;
   	margin : 5px 5px 5px 5px;
  }
}
